[submodule "cymric"]
	path = cymric
	url = https://github.com/catid/cymric.git
[submodule "libcat"]
	path = libcat
	url = https://github.com/catid/libcat.git
[submodule "snowshoe"]
	path = snowshoe
	url = https://github.com/catid/snowshoe.git
[submodule "blake2"]
	path = blake2
	url = https://github.com/BLAKE2/BLAKE2.git
